@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1E40AF;
  --color-secondary:#1EA84C;
  --color-accent:#6082B6;
}

.btn-primary {
   background:#1E40AF;
  
  }
.btn-secondary{
  background: #146837;
}